{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block header %} Login {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow">
            <div class="card-header">
                <h5 class="card-title mb-0">Sign in to your account</h5>
                <p class="text-muted mb-0">We have lots of cool stuff</p>
            </div>
            <form method="POST">
                <div class="card-body">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="form-group mb-3">
                        {{field.label}}
                        {{field(class_="form-control")}}
                        {% for error in field.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-outline-light my-2 shadow" type="submit">Sign in</button>
                            <small class="text-danger px-2">Fields marked * are required</small>
                        </div>
                    </div>
                    <div class="row">
                        <small class="text-light ml-1 mt-1"> No account? <a href="/register">Create one!</a></small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}