{% extends 'base.html' %}
{% block title %} {{ user.username.capitalize() }} Details {% endblock %}

{% block header %} {{ user.username.capitalize() }}'s Details {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <h4>Name</h4>
                        <p class="text-success"> {{ user.first_name.capitalize() + ' ' + user.last_name.capitalize() }}
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <h4>Email</h4>
                        <p class="text-success">{{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h5>Feedback</h5>
        {% for feedback in user.feedbacks %}
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title text-dark">{{ feedback.title }}</h5>
                <p class="card-text text-muted">{{ feedback.content }}</p>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <form>
                    <button type="submit" class="btn btn-sm btn-primary"
                        formaction="/users/{{ user.username }}/feedback/add" formmethod="GET">
                        Add Feedback
                    </button>
                    <button type="submit" class="btn btn-sm btn-danger" formaction="/users/{{ user.username }}/delete"
                        formmethod="POST">
                        Delete Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}