{% extends 'base.html' %}
{% block title %} {{ user.username.capitalize() }} Details {% endblock %}

{% block header %} {{ user.username.capitalize() }}'s Details {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <h4>Name</h4>
                        <p class="text-success"> {{ user.first_name.capitalize() + ' ' + user.last_name.capitalize() }}
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <h4>Email</h4>
                        <p class="text-success">{{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        {% if feedback %}
        <h5>Feedback</h5>
        {% for feedback in user.feedbacks %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ feedback.title }}</h5>
                <p class="card-text">{{ feedback.content }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a class="btn btn-sm btn-primary" href="/users/{{ user.username }}/feedback/add">
                    Add Feedback
                </a>
                <a class="btn btn-sm btn-danger" href="/users/{{ user.username }}/delete">
                    Delete Account
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}